body {
  background-color: blue;
  margin-left: 20px;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

p {
  color: white;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
